@model SHM_Smart_Hospital_Management_.MedicalDetailsExtraTables.Medical_Test

@{
    ViewData["Title"] = "Create";
}
@section Styles{
    <link href="~/Medicio2/Create.css" rel="stylesheet" />
}

<div style="width:1px;height:1px; overflow:scroll; visibility:hidden">
    <ul>
        @{
            List<SelectListItem> TestTypes = ViewBag.Test_Type_Id;
            for (int i = 0; i < TestTypes.Count; i++)
            {
                <li class="Test_Type_Id">@TestTypes[i].Value</li>
                <li class="Test_Type_Name">@TestTypes[i].Text</li>
            }
        }
    </ul>

</div>
<form asp-action="Create" enctype="multipart/form-data" class="All_form" style="background-color: white" id="form" onsubmit="event.preventDefault(); ValidateTest();">
    <div class="container">
        <div class="row">


            <div class="All_div col-12" id="div0">
                <div class="All_div col-12">
                    <label for="files" class="control-label"></label>
                    <input type="file" name="files" accept="image/*" required />
                </div>
                <div class="All_div col-12">
                    <label for="type" class="control-label"></label>
                    <select id="type0" onchange="ChangeSelect(0)" style="width:100%" asp-items="ViewBag.Test_Type_Id">
                    </select>
                </div>
                <div class="All_div col-12">
                    <label for="type" class="control-label"></label>
                    <select class="ValidateTests" style="width:100%" id="test0" name="test" asp-items="ViewBag.Tests">
                    </select><br />
                    <span id="TestsSpan0" class="text-danger"></span>
                </div>
                <div class="All_div col-12">
                    <label for="date" class="control-label"></label>
                    <input type="date" name="date" style="width:100%" class="ValidateDates" /><br />
                    <span id="DatesSpan0" style="color:red"></span>
                </div>
                <span class="span" id="0"></span>
                <button type="button" onclick="AddMedicalTest(this,0)" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; "> إضافة تحليل</button>
            </div>

            

            <input type="hidden" name="medicalDetailId" value="@Model.Medical_Detail_Id" />
            <input type="hidden" name="DocId" value="@ViewBag.DocId" />
            <input type="hidden" name="HoId" value="@ViewBag.HoId" />
            <div class="form-group">
                <input type="submit" value="إضافة التحاليل" style="width:100px" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="ShowMedicalTestForDoctor" asp-route-id="@Model.Medical_Detail_Id" asp-route-DocId="@ViewBag.DocId" asp-route-HoId="@ViewBag.HoId" style="position: relative; left: 51%;">رجوع للخلف</a>
</div>

@section Scripts {

    <script>
        function ValidateTest() {
            var tests = document.getElementsByClassName("ValidateTests");
            var dates = document.getElementsByClassName("ValidateDates");
            var bool = true;
            for (var i = 0; i < tests.length; i++) {
                if (tests[i].value == '' || tests[i].value == 'اختر نوع المرض') {
                    document.getElementById('TestsSpan' + i).innerHTML = "يرجى اختيار التحليل";
                    bool = false;
                }
                else {
                    document.getElementById('TestsSpan' + i).innerHTML = "";
                }
                if (dates[i].value.substring(0, 4) != new Date().getFullYear()) {
                    document.getElementById('DatesSpan' + i).innerHTML = "لا يمكن إضافة تحليل إلا في نفس العام";
                    bool = false;
                }
                else {
                    document.getElementById('DatesSpan' + i).innerHTML = "";
                }

            }
            if (bool) {
                document.getElementById('form').submit();
            }
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var TestsCount = 1;
        function AddMedicalTest(btn, i) {
            if (TestsCount < 3) {
                var attribute = document.createAttribute("style");
                attribute.value = "display:none";
                btn.setAttributeNodeNS(attribute);
                var div = document.getElementById('div' + i);
                var Test_Type_Ids = document.getElementsByClassName('Test_Type_Id');
                var Test_Type_Names = document.getElementsByClassName('Test_Type_Name');
                var string1 = "";
                for (var j = 0; j < Test_Type_Ids.length; j++) {
                    string1 += '<option value="' + Test_Type_Ids[j].innerHTML + '">' + Test_Type_Names[j].innerHTML + '</option>';
                }

                var valueToAdd = "";
                if (TestsCount != 2) {
                    valueToAdd =
                        '<div class="All_div col-12" id="div' + (i + 1) + '">' +
                        '<div class="All_div col-12" >' +
                        '<label for="files" class="control-label"></label>' +
                        '<input type="file" name="files" accept="image/*"  required />' +
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="type" class="control-label"></label>' +
                    '<select id="type' + (i + 1) + '" onchange="ChangeSelect(' + (i + 1) + ')" class="form-control" style="width:100%" >' +
                        string1 +
                        '</select>' +
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="type" class="control-label"></label>' +
                    '<select id="test' + (i + 1) + '" class="ValidateTests"  name="test" class="form-control" style="width:100%">' +
                        '</select> <br />' +
                        '<span id="TestsSpan' + (i + 1) +'" class="text-danger"></span>'+
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="date" class="control-label"></label>' +
                         '<input type="date" name="date" style="width:100%" class="ValidateDates" required /> <br />' +
                        '<span id="DatesSpan' + (i + 1) +'"  style="color:red"></span>'+
                        '</div>' +
                        '<span class="span" id="' + (i + 1) + '"></span>' +
                    '<button type="button" onclick="AddMedicalTest(this,' + (i + 1) + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; margin: 2px"> إضافة تحليل</button>' +
                    '<button type="button" onclick="DeleteMedicalTest(' + (i + 1) + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; margin: 2px"> حذف </button>' +
                        '</div>'
                }
                else {
                    valueToAdd =
                        '<div class="All_div col-12" id="div' + (i + 1) + '">' +
                        '<div class="All_div col-12" >' +
                        '<label for="files" class="control-label"></label>' +
                        '<input type="file" name="files" accept="image/*"  required />' +
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="type" class="control-label"></label>' +
                    '<select id="type' + (i + 1) + '" onchange="ChangeSelect(' + (i + 1) + ')" class="form-control" style="width:100%">' +
                        string1 +
                        '</select>' +
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="type" class="control-label"></label>' +
                    '<select id="test' + (i + 1) + '" class="ValidateTests"  name="test" class="form-control" style="width:100%">' +
                        '</select> <br />' +
                        '<span id="TestsSpan' + (i + 1) + '" class="text-danger"></span>' +
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="date" class="control-label"></label>' +
                         '<input type="date" name="date" style="width:100%" class="ValidateDates" required /> <br />' +
                        '<span id="DatesSpan' + (i + 1) + '"  style="color:red"></span>' +
                        '</div>' +
                        '<span class="span" id="' + (i + 1) + '"></span>' +
                    '<button type="button" onclick="DeleteMedicalTest(' + (i + 1) + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; margin: 2px"> حذف </button>' +
                        '</div >'
                }
                div.insertAdjacentHTML('afterend', valueToAdd);
                TestsCount++;
            }
        }
        function DeleteMedicalTest(i) {
            var div = document.getElementById("div" + i);
            div.parentNode.removeChild(div);
            TestsCount--;
            var spans = document.getElementsByClassName('span');
            if (TestsCount == 1) {
                var span = document.getElementById('0');
                span.insertAdjacentHTML('afterend', '<button type="button" onclick="AddMedicalTest(this,0)" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;margin: 2px">إضافة تحليل</button>');
            }
            else {
                spans[spans.length - 1].insertAdjacentHTML('afterend', '<button type="button" onclick="AddMedicalTest(this,' + spans[spans.length - 1].id + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; margin: 2px"> إضافة </button>');
            }
        }
        function ChangeSelect(num) {
            var selectedTest_Type = $("#type" + num).val();
            var TestsSelect = $("#test" + num);
            TestsSelect.empty();
            if (selectedTest_Type != null && selectedTest_Type != "") {
                $.getJSON('@Url.Action("GetTests")', { Test_Type_Id: selectedTest_Type }, function (Tests) {
                    if (Tests != null && !jQuery.isEmptyObject(Tests)) {
                        TestsSelect.append($('<option/>', { value: null, text: "اختر نوع المرض" }));

                        $.each(Tests, function (index, Test) {
                            TestsSelect.append($('<option/>', { value: Test.value, text: Test.text }));
                        });
                    };
                });

            }
        }
    </script>

}
