@model SHM_Smart_Hospital_Management_.MedicalDetailsExtraTables.Medical_Ray

@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <link href="~/Medicio2/Create.css" rel="stylesheet" />
}
<div style="width:1px;height:1px; overflow:scroll; visibility:hidden">
    <ul>
        @{
            List<SelectListItem> RayTypes = ViewBag.Ray_Type_Id;
            for (int i = 0; i < RayTypes.Count; i++)
            {
                <li class="Ray_Type_Id">@RayTypes[i].Value</li>
                <li class="Ray_Type_Name">@RayTypes[i].Text</li>
            }
        }
    </ul>
</div>

<form asp-action="Create" enctype="multipart/form-data" id="form" style="background-color: white" class="All_form" onsubmit="event.preventDefault(); ValidateTest();">
    <div class="container">
        <div class="row">
            <div class="All_div col-12" id="div0">
                <div class="All_div col-12">
                    <label for="files" class="control-label"></label>
                    <input type="file" name="files" accept="image/*" required />
                </div>
                <div class="All_div col-12">
                    <label for="ray" class="control-label"></label>
                    <select name="ray" class="form-control" asp-items="ViewBag.Ray_Type_Id" style="width:100%">
                    </select>
                </div>
                <div class="All_div col-12">
                    <label for="date" class="control-label"></label>
                    <input type="date" name="date" class="ValidateDates" style="width:100%" /><br />
                    <span id="DatesSpan0" style="color:red"></span>
                </div>
                <span class="span" id="0"></span>
                <button type="button" onclick="AddRay(this,0)" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; "> إضافة أشعة</button>
            </div>

            <input type="hidden" name="medicalDetailId" value="@Model.Medical_Detail_Id" />
            <input type="hidden" name="DocId" value="@ViewBag.DocId" />
            <input type="hidden" name="HoId" value="@ViewBag.HoId" />
            <div class="All_div col-12">
                <input type="submit" value="إضافة الأشعة" style="width:100px" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="ShowRaysForDoctor" asp-route-id="@Model.Medical_Detail_Id" asp-route-DocId="@ViewBag.DocId" asp-route-HoId="@ViewBag.HoId" style="position: relative; left: 51%;">رجوع للخلف</a>
</div>

@section Scripts {

    <script>
        function ValidateTest() {
            var dates = document.getElementsByClassName("ValidateDates");
            var bool = true;
            for (var i = 0; i < dates.length; i++) {

                if (dates[i].value.substring(0, 4) != new Date().getFullYear()) {
                    document.getElementById('DatesSpan' + i).innerHTML = "لا يمكن إضافة أشعة إلا في نفس العام";
                    bool = false;
                }
                else {
                    document.getElementById('DatesSpan' + i).innerHTML = "";
                }

            }
            if (bool) {
                document.getElementById('form').submit();
            }
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        var RaysCount = 1;
        function AddRay(btn, i) {
            if (RaysCount < 3) {
                var attribute = document.createAttribute("style");
                attribute.value = "display:none";
                btn.setAttributeNodeNS(attribute);
                var div = document.getElementById('div' + i);
                var Ray_Type_Ids = document.getElementsByClassName('Ray_Type_Id');
                var Ray_Type_Names = document.getElementsByClassName('Ray_Type_Name');
                var string1 = "";
                for (var j = 0; j < Ray_Type_Ids.length; j++) {
                    string1 += '<option value="' + Ray_Type_Ids[j].innerHTML + '">' + Ray_Type_Names[j].innerHTML + '</option>';
                }

                var valueToAdd = "";
                if (RaysCount != 2) {
                    valueToAdd = '<div class="All_div col-12" id="div' + (i + 1) + '">' +
                        '<div class="All_div col-12">' +
                        '<label for= "files" class= "control-label" ></label> ' +
                        '<input type="file" name="files" accept="image/*" required />' +
                        '</div >' +
                        '<div class="All_div col-12">' +
                        '<label for="ray" class="control-label"></label>' +
                        '<select name="ray" class="form-control">' +
                        string1 +
                        '</select>' +
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="date" class="control-label"></label>' +
                        '<input type="date" name="date" class="ValidateDates" required /> <br />' +
                        '<span id="DatesSpan' + (i + 1) + '"  style="color:red"></span>' +
                        '</div>' +
                        '<span class="span" id="' + (i + 1) + '"></span>' +
                        '<button type="button" onclick="AddRay(this,' + (i + 1) + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; "> إضافة </button>' +
                        '<button type="button" onclick="DeleteRay(' + (i + 1) + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; "> حذف </button>' +
                        '</div>';
                }
                else {
                    valueToAdd = '<div class="All_div col-12" id="div' + (i + 1) + '">' +
                        '<div class="All_div col-12">' +
                        '<label for= "files" class= "control-label" ></label> ' +
                        '<input type="file" name="files" accept="image/*" required />' +
                        '</div >' +
                        '<div class="All_div col-12">' +
                        '<label for="ray" class="control-label"></label>' +
                        '<select name="ray" class="form-control">' +
                        string1 +
                        '</select>' +
                        '</div>' +
                        '<div class="All_div col-12">' +
                        '<label for="date" class="control-label"></label>' +
                        '<input type="date" name="date" class="ValidateDates" required /> <br />' +
                        '<span id="DatesSpan' + (i + 1) + '"  style="color:red"></span>' +
                        '</div>' +
                        '<span class="span" id="' + (i + 1) + '"></span>' +
                        '<button type="button" onclick="DeleteRay(' + (i + 1) + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; "> حذف </button>' +
                        '</div>';
                }
                div.insertAdjacentHTML('afterend', valueToAdd);
                RaysCount++;
            }
        }
        function DeleteRay(i) {
            var div = document.getElementById("div" + i);
            div.parentNode.removeChild(div);
            RaysCount--;
            var spans = document.getElementsByClassName('span');
            if (RaysCount == 1) {
                var span = document.getElementById('0');
                span.insertAdjacentHTML('afterend', '<button type="button" onclick="AddRay(this,0)" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; "> إضافة أشعة </button>');
            }
            else {
                spans[spans.length - 1].insertAdjacentHTML('afterend', '<button type="button" onclick="AddRay(this,' + spans[spans.length - 1].id + ')" style="width: 100px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600; "> إضافة </button>');
            }



        }
    </script>
}
