@model SHM_Smart_Hospital_Management_.Models.Patient

@{
    ViewData["Title"] = "Create";
}

@section Styles{

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
          rel="stylesheet" />
    <!-- Geocoding api .css -->
    <link rel="stylesheet"
          href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
          type="text/css" />
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />

}

<form asp-action="Create" class="All_form" style="background-color: white " id="form" onsubmit="event.preventDefault(MyValidations());">
    <div class="container">
        <div class="row">
            <div id="map" style="width:100%;height:250px" class="All_div"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="All_div col-12">
                <label asp-for="Patient_First_Name"></label>
                <input asp-for="Patient_First_Name" /><br />
                <span asp-validation-for="Patient_First_Name" class="text-danger"></span>
            </div>
            <div class="All_div col-12">
                <label asp-for="Patient_Middle_Name"></label>
                <input asp-for="Patient_Middle_Name" /><br />
                <span asp-validation-for="Patient_Middle_Name" class="text-danger"></span>
            </div>
            <div class="All_div col-12">
                <label asp-for="Patient_Last_Name"></label>
                <input asp-for="Patient_Last_Name" /><br />
                <span asp-validation-for="Patient_Last_Name" class="text-danger"></span>
            </div>
            <div class="All_div col-12">
                <label asp-for="Patient_EmailName"></label>
                <input asp-for="Patient_EmailName" /><br />
                <span asp-validation-for="Patient_EmailName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Patient_Email" />
            <input type="hidden" asp-for="Patient_Password" />
            <input id="XY" type="hidden" asp-for="Patient_X_Y" />

            <div class="All_div col-12">
                <label asp-for="Patient_National_Number"></label>
                <input asp-for="Patient_National_Number" /><br>
                <span asp-validation-for="Patient_National_Number" class="text-danger" id="nationalValidateSpan"></span>
            </div>

            <div class="All_div col-12">
                <label asp-for="Patient_Gender"></label>
                <select asp-for="Patient_Gender">
                    <option value="ذكر">ذكر</option>
                    <option value="أنثى">أنثى</option>
                </select>
            </div>
            <div class="All_div col-12">
                <label asp-for="Patient_Social_Status"></label>
                <select asp-for="Patient_Social_Status">
                    <option value="عازب/ة">عازب/ة</option>
                    <option value="متزوج/ة">متزوج/ة</option>

                </select>
            </div>
            <div class="All_div col-12">
                <label asp-for="Patient_Birth_Date"></label>
                <input type="date" asp-for="Patient_Birth_Date" /><br />
                <span asp-validation-for="Patient_Birth_Date" class="text-danger"></span>
            </div>
            <div class="All_div col-12">
                <label asp-for="Patient_Birth_Place">مكان الولادة</label>
                <select asp-for="Patient_Birth_Place" asp-items="@ViewBag.Cities">
                </select>
            </div>
            <div class="All_div col-12">
                <label>السكن</label>
                <select id="City" asp-items="@ViewBag.Cities">
                </select>
            </div>
            <div class="All_div col-12">
                <label asp-for="Area_Id"></label>
                <select id="Area" asp-for="Area_Id" asp-items="@ViewBag.Areas">
                </select><br>
                <span id="areaValidateSpan" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Active" />
            <input type="hidden" name="EmpId" value="@ViewBag.EmpId" />
            <input type="hidden" asp-for="Ho_Id" />
            <table>
                <tr id="tr0">
                    <td>
                        <div class="col-12 All_div">
                            <input class="ValidateNumber" type="text" name="pn" min="10" maxlength="10" placeholder="ادخل رقم الموبايل" required />
                            <span id="phoneValidateSpan0" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="col-12">
                            <span id="span0"></span>
                            <input type="button" onclick="Add(this)" value="إضافة رقم الموبايل" style="margin: 10px 0px; width: 63%; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;" />
                        </div>
                    </td>
                </tr>
            </table>
            <div class="col-12">
                <input type="submit" value="إضافة مريض" style="margin-bottom:10px" />
            </div>
        </div>
    </div>
</form>
<a asp-controller="Employee" asp-action="Master" asp-route-id="@ViewBag.EmpId" style=" position: relative; left: 44%;">العودة إلى الصفحة الرئيسية</a>
    
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/addPhoneNumbers3.js"></script>
    <script src="~/Validations.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <!-- Arabic Language Support -->
    <script src="~/Map/index.js"></script>
    <!-- Geocoding api .js -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <script>
        var XY = document.getElementById('XY');
        // public Token
        mapboxgl.accessToken =
            "pk.eyJ1IjoibWFobW9vZC1hcmFrc3VzeSIsImEiOiJjbDBvN3lhejExbXVzM2ltOW91MmZ1NXpjIn0.r69LwIlKBJZ2NT3RY5XJNQ";
        // Right to left text support
        mapboxgl.setRTLTextPlugin(
            "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js",
            null,
            true // Lazy load the plugin
        );
        // map Definition
        const map = new mapboxgl.Map({
            container: "map", // container ID
            style: "mapbox://styles/mapbox/streets-v11", // style URL
            center: [37.98384, 34.9618], // starting position [lng, lat]
            zoom: 7, // starting zoom
        });
        // Set Marker and Popup on click
        map.on("click", (e) => {
            const popup = new mapboxgl.Popup({
                offset: 25,
                closeOnClick: false,
                closeButton: false,
            }).setText("New Patient Coordinates ...");
            var marker = new mapboxgl.Marker()
                .setPopup(popup)
                .setLngLat(e.lngLat)
                .addTo(map)
                .togglePopup();
            XY.value = e.lngLat.lng + "," + e.lngLat.lat;
        });
        // Geocoding
        map.addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                language: "ar",
                mapboxgl: mapboxgl,
            })
        );
        // Setting Language
        map.addControl(
            new MapboxLanguage({
                defaultLanguage: "ar",
            })
        );
    </script>


    <script type="text/javascript">
        $(document).ready(function ()
        {

        $("#City").change(function () {
            var selectedCity = $("#City").val();
            var AreasSelect = $("#Area");
            AreasSelect.empty();
            if (selectedCity != null && selectedCity != "") {
                $.getJSON('@Url.Action("GetAreas")', { CityId: selectedCity }, function (Areas) {
                    if (Areas != null && !jQuery.isEmptyObject(Areas)) {
                        AreasSelect.append($('<option/>', { value: null, text: "اختر المنطقة" }));

                        $.each(Areas, function (index, area) {
                           AreasSelect.append($('<option/>', { value: area.value, text: area.text }));
                        });
                    };
                });

            }
        });
    });
    </script>
}
