@model IEnumerable<SHM_Smart_Hospital_Management_.Models.Patient>

@{
    ViewData["Title"] = "HoPatientsForReservation";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
    <style>
        html {
            height: 100vh;
        }
        body {
            padding: 10px;
        }
    </style>
}
<div class="All_form" style="direction: rtl; text-align: right; background-color: white ">
    <form asp-action="HoPatientsForReservation" asp-route-id="@ViewBag.HoId" method="get">
        <div class="container">
            <div class="row" style="width: 200%; position: relative; left: 40%;">
                <p>
                    <div class="All_div col-12">
                        <input type="hidden" name="EmpId" value="@ViewBag.EmpId" />
                        <input type="text" name="search" style="width:70%;" />
                        <input type="submit" value="بحث" />
                    </div>
                </p>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Patient_Full_Name)
                </th>
                <th>
                    رقم الهاتف
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient_Full_Name)
                    </td>
                    <td>
                        @foreach (var item1 in item.Patient_Phone_Numbers)
                        {
                            <span> @item1.Patient_Phone_Number</span> <br />
                        }

                    </td>

                    <td>
                        <a asp-controller="Room" asp-action="AvailableRooms" asp-route-id="@item.Patient_Id" asp-route-EmpId="@ViewBag.EmpId">حجز غرفة</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="Employee" asp-action="Master" asp-route-id="@ViewBag.EmpId" style="position: relative; left: 45%;">رجوع للصفحة الرئيسية</a>
@section Scripts{
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>
}
