
@model SHM_Smart_Hospital_Management_.Models.Patient

@section Styles{
    <style>
        html {
            direction: rtl;
        }
    </style>
    <link href="~/Medicio2/dashborde/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Medicio2/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Medicio2/dashborde/paitdb/css/pait.css" rel="stylesheet">
}
<div class="sidebar">
    <div class="logo-details">
        <img src="~/Medicio2/dashborde/img/man.png" class="pait-img ">
        <span class="logo_name">مريض</span>
    </div>
    <hr class="sidebar-divider">
    <div class="nav-links ">
        <div class="s_div f_div">
            <label for="touch2">
                <span class="side_name"><i class="bi bi-clipboard-plus "></i>  مواعيد</span>
                <i class="bi bi-chevron-compact-down arrow "></i>
            </label>
            <input type="checkbox" id="touch2">
            <ul class="slide">
                <span>موعد</span>
                <li>
                    <a asp-controller="Preview" asp-action="CreateForPatient" asp-route-id="@Model.Patient_Id">حجز موعد</a>
                </li>
                <li>
                    <a asp-controller="Preview" asp-action="DisplayPatientsPreviews" asp-route-id="@Model.Patient_Id"> إلغاء حجز موعد</a>
                </li>
            </ul>
        </div>
        <div class="s_div">
            <a asp-controller="Request" asp-action="SendNurse" asp-route-id="@Model.Patient_Id" data-toggle="modal" data-target="#ٍSendNurseModal">
                <span class="side_name"><i class="bi bi-people-fill"></i>   طلب إرسال ممرض</span>
            </a>
        </div>
        <div class="s_div">
            <a asp-controller="Medical_Detail" asp-action="ShowMedicalDetailsForPatient" asp-route-id="@Model.Patient_Id">
                <span class="side_name"> <i class="bi bi-clipboard-plus"></i> الملف الطبي</span>
            </a>
        </div>
        <div class="s_div">
            <a asp-controller="Bill" asp-action="ShowBillForPatient" asp-route-id="@Model.Patient_Id">
                <span class="side_name"><i class="bi bi-receipt"></i> الفاتورة</span>
            </a>
        </div>
    </div>
    <hr class="sidebar-divider ">
</div>
<section class="home-section">

    <!-- Topbar -->
    <div class="container navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow topbar-ps ">
        <div class="row">
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle do_div" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="top_div">
                            <span class="mr-2 d-lg-inline text-gray-600 small">مريض</span>
                            <img class="img-profile rounded-circle"
                                 src="~/Medicio2/dashborde/img/undraw_profile_2.svg">
                        </div>
                    </a>

                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in info-pai"
                         aria-labelledby="userDropdown">
                        <a asp-action="EditPersonalDetails" asp-route-id="@Model.Patient_Id" class="dropdown-item">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;&nbsp;&nbsp;
                            المعلومات الشخصية
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;&nbsp;&nbsp;
                            تسجيل خروج
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade " id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" dir="ltr">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-txt" id="exampleModalLabel">تسجيل خروج</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body "> هل أنت متأكد</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary close_btn" type="button" data-dismiss="modal">إلغاء</button>
                    <a class="btn btn-primary Logout-btn" asp-action="LogOut" asp-route-id="@Model.Patient_Id">تسجيل خروج</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">

            <!-- Button trigger modal -->
            <button type="button" class="btn   modal-bt2 " data-toggle="modal" data-target="#exampleModal2">
                مواعيد
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" dir="ltr">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modal-txt" id="exampleModalLabel2"> موعد</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body Center">
                            <a asp-controller="Preview" asp-action="CreateForPatient" asp-route-id="@Model.Patient_Id">
                                <button type="button" class="btn btn-info  modal-bt4 ">
                                    حجز موعد
                                </button>
                            </a>
                            <a asp-controller="Preview" asp-action="DisplayPatientsPreviews" asp-route-id="@Model.Patient_Id">
                                <button type="button" class="btn btn-info  modal-bt4">
                                    إلغاء حجز موعد
                                </button>
                            </a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary close_btn" data-dismiss="modal">إغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
            <a asp-controller="Request" asp-action="SendNurse" asp-route-id="@Model.Patient_Id" data-toggle="modal" data-target="#ٍSendNurseModal" class="btn   modal-bt2 " style="display:flex;justify-content:center;align-items:center">
                <button type="button" data-toggle="modal" data-target="#ٍSendNurseModal" style="background:transparent;color:white;outline:none;border:none">
                    طلب إرسال ممرض
                </button>
            </a>
            <!-- Logout Modal-->
            <div class="modal fade " id="ٍSendNurseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true" dir="ltr">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modal-txt" id="exampleModalLabel"> تأكيد الطلب</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body "> هل أنت متأكد</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary close_btn" type="button" data-dismiss="modal">تأكيد</button>
                        </div>
                    </div>
                </div>
            </div>
            <a asp-controller="Medical_Detail" asp-action="ShowMedicalDetailsForPatient" asp-route-id="@Model.Patient_Id" class="btn   modal-bt2 " style="display:flex;justify-content:center;align-items:center">
                <button type="button" style="background:transparent;color:white;outline:none;border:none">
                    الملف الطبي
                </button>
            </a>
            <a asp-controller="Bill" asp-action="ShowBillForPatient" asp-route-id="@Model.Patient_Id"style="display:flex;justify-content:center;align-items:center" class="btn  modal-bt2 ">
                <button type="button" style="background:transparent;color:white;outline:none;border:none">
                    الفاتورة
                </button>
            </a>
        </div>
    </div>

    <footer>
        <div class="footer">
            <span class="fo_span center">حقوق الطباعة &copy; موقعنا 2022</span>
        </div>
    </footer>

</section>

@section Scripts{
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Medicio2/dashborde/js/sb-admin-2.js"></script>
}

