
@{
    ViewData["Title"] = "Create";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
}
<form asp-action="CreatePost" method="post" class="All_form" style="background-color: white;">
    <div class="container">
        <div class="row">
            <span class="text-danger">@ViewBag.ErrorMessage</span>
            <input type="hidden" name="DocId" value="@ViewBag.DocId" />
            <input id="SrId" type="hidden" name="SrId" value="@ViewBag.SrId" />
            <input type="hidden" name="HoId" value="@ViewBag.HoId" />
            <input type="hidden" name="PatId" value="@ViewBag.PatId" />
            <div class="All_div col-12">
                <label for="name">اسم العملية</label>
                <input type="text" name="name" value="" required/> <br />
            </div>
            <div class="All_div col-12">
                <label for="length"> مدة العملية (ساعات)</label>
                <input id="hour" type="number" name="hour" value="" />    <br />
            </div>
            <span id="HourSpan" style="color:red"></span>
            <div class="All_div col-12">
                <label for="length">مدة العملية (دقائق)</label>
                <input id="minute" type="number" name="minute" value="" /><br />
            </div>
            <span id="MinuteSpan" style="color:red"></span> <br />
            <div class="All_div col-12">
                <label for="length">تاريخ العملية</label>
                <input id="date" min="@DateTime.Now" type="date" name="date" /> <br />
            </div>
                <span id="message" style="color:red"></span>
                <div class="All_div col-12">
                    <label for="length">الأوقات المتاحة</label>
                    <select id="time" name="time" asp-items="@ViewBag.Times">
                    </select>
                </div>

                <div class="All_div col-12">
                    <input type="submit" value="إنشاء العملية"/>
                </div>
            </div>
        </div>
</form>


<div>
    <a asp-action="DisplayPatients" asp-route-id="@ViewBag.SrId" asp-route-DocId="@ViewBag.DocId" asp-route-HoId="@ViewBag.HoId" style="position: relative; left: 48%;">رجوع للخلف</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function ()
        {

            $("#date").blur(function () {
                var selectedDate = $("#date").val();
                var SrId = $("#SrId").val();
                var hour = $("#hour").val();
                var minute = $("#minute").val();
                if (hour == "") {
                    $("#HourSpan").html("الرجاء عدم ترك الحقل فارغ");
                }
                else if (minute == "") {
                    $("#MinuteSpan").html("الرجاء عدم ترك الحقل فارغ");
                }
                else {
                    $("#HourSpan").html("");
                    $("#MinuteSpan").html("");
                    var TimesSelect = $("#time");
                    TimesSelect.empty();
                    if (selectedDate != null) {
                        $.getJSON('@Url.Action("GetTimes")', { date: selectedDate, Sr_Id: SrId , hour:hour,minute:minute }, function (Times) {
                            if (Times.timeSelect != null && !jQuery.isEmptyObject(Times.timeSelect)) {
                                TimesSelect.append($('<option/>', { value: null, text: "اختر الوقت" }));
                                $.each(Times.timeSelect, function (index, time) {
                                    TimesSelect.append($('<option/>', { value: time.value, text: time.text }));
                                });
                            }
                            else
                            {
                                $("#message").html(Times.message);
                            }
                        });

                    }
                }

        });
    });
    </script>
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>
}
