@model SHM_Smart_Hospital_Management_.MedicalDetailsExtraTables.External_Records

@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <link href="~/Medicio2/Create.css" rel="stylesheet" />
}

        <form asp-action="Create" enctype="multipart/form-data" class="All_form" style="background-color: white">
            <div class="container">
                <div class="row">
                        <div class="All_div col-12" id="div0">
                            <div class="All_div col-12">
                                <label for="files"></label>
                                <input type="file" name="files" />
                            </div>
                            <div class="All_div col-12">
                                <label for="date" class="control-label"></label>
                                <input type="date" name="date" style="width:100%" />
                            </div>
                            <span class="span" id="0"></span>
                            <button type="button" onclick="AddRay(this,0)" style=" background-color: gainsboro; font-size: 15px; border-radius: 15px;"> إضافة اشعة</button>
                        </div>

                        <input type="hidden" name="medicalDetailId" value="@Model.Medical_Detail_Id" />
                        <input type="hidden" name="DocId" value="@ViewBag.DocId" />
                        <input type="hidden" name="HoId" value="@ViewBag.HoId" />
                        <div class="All_div col-12">
                            <input type="submit" value="إضافة" />
                        </div>
                    </div>
                </div>
        </form>

<div>
    <a asp-action="ShowExternalRecordsPatient" asp-route-id="@Model.Medical_Detail_Id" asp-route-DocId="@ViewBag.PatId" style="position: relative; left: 51%;">رجوع للخلف</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        var RaysCount = 1;
        function AddRay(btn, i) {
            if (RaysCount < 3) {
                var attribute = document.createAttribute("style");
                attribute.value = "display:none";
                btn.setAttributeNodeNS(attribute);
                var div = document.getElementById('div' + i);
                var valueToAdd = "";
                if (RaysCount != 2) {
                    valueToAdd =
                        '<div class="All_div col-12" id="div' + (i + 1) + '">' +
                        '<div class="All_div col-12">' +
                        '<label for= "files"></label> ' +
                        '<input type="file" name="files" />' +
                        '</div >' +
                        '<div class="All_div col-12">' +
                        '<label for="date"></label>' +
                        '<input type="date" name="date" style="width:100%" />' +
                        '</div>' +
                        '<span class="span" id="'+(i+1)+'"></span>' +
                    '<button type="button" onclick="AddRay(this,' + (i + 1) + ')" style=" background-color: gainsboro; font-size: 15px; border-radius: 15px; margin: 5px;"> إضافة اشعة </button>' +
                    '<button type="button" onclick="DeleteRay(' + (i + 1) + ')" style=" background-color: gainsboro; font-size: 15px; border-radius: 15px; margin: 5px;"> حذف </button>' +
                        '</div>';
                }
                else {
                    valueToAdd = '<div class="All_div col-12" id="div' + (i + 1) + '">' +
                        '<div class="All_div col-12">' +
                        '<label for= "files"></label> ' +
                        '<input type="file" name="files" />' +
                        '</div >' +
                        '<div class="All_div col-12">' +
                        '<label for="date"></label>' +
                        '<input type="date" name="date" style="width:100%" />' +
                        '</div>' +
                        '<span class="span" id="'+(i+1)+'"></span>' +
                        '<button type="button" onclick="DeleteRay(' + (i + 1) + ')" style=" background-color: gainsboro; font-size: 15px; border-radius: 15px; margin: 5px;"> حذف </button>' +
                        '</div>';
                }
                div.insertAdjacentHTML('afterend', valueToAdd);
                RaysCount++;
            }
        }
        function DeleteRay(i) {
            var div = document.getElementById("div" + i);
            div.parentNode.removeChild(div);
            RaysCount--;
            var spans = document.getElementsByClassName('span');
            if (RaysCount == 1) {
                var span = document.getElementById('0');
                span.insertAdjacentHTML('afterend', '<button type="button" onclick="AddRay(this,0)" style=" background-color: gainsboro; font-size: 15px; border-radius: 15px; margin: 5px;"> إضافة اشعة </button>');
            }
            else {
                spans[spans.length - 1].insertAdjacentHTML('afterend', '<button type="button" onclick="AddRay(this,' + spans[spans.length - 1].id + ')" style=" background-color: gainsboro; font-size: 15px; border-radius: 15px; margin: 5px;"> إضافة اشعة </button>');
            }



        }
    </script>
}
