@model SHM_Smart_Hospital_Management_.MedicalDetailsExtraTables.External_Records

@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <link href="~/Medicio2/Create.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div id="div0">
                <div class="form-group">
                    <label for="files" class="control-label"></label>
                    <input type="file" name="files" />
                </div>
                <div class="form-group">
                    <label for="date" class="control-label"></label>
                    <input type="date" name="date" class="form-control" />
                </div>
                <span class="span" id="0"></span>
                <button type="button" onclick="AddRay(this,0)"> إضافة اشعة</button>
            </div>

            <input type="hidden" name="medicalDetailId" value="@Model.Medical_Detail_Id" />
            <input type="hidden" name="DocId" value="@ViewBag.DocId" />
            <input type="hidden" name="HoId" value="@ViewBag.HoId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowExternalRecordsForDoctor" asp-route-id="@Model.Medical_Detail_Id" asp-route-DocId="@ViewBag.DocId" asp-route-HoId="@ViewBag.HoId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        var RaysCount = 1;
        function AddRay(btn, i) {
            if (RaysCount < 3) {
                var attribute = document.createAttribute("style");
                attribute.value = "display:none";
                btn.setAttributeNodeNS(attribute);
                var div = document.getElementById('div' + i);
                var valueToAdd = "";
                if (RaysCount != 2) {
                    valueToAdd =
                        '<div id="div' + (i + 1) + '">' +
                        '<div class="form-group">' +
                        '<label for= "files" class= "control-label" ></label> ' +
                        '<input type="file" name="files" />' +
                        '</div >' +
                        '<div class="form-group">' +
                        '<label for="date" class="control-label"></label>' +
                        '<input type="date" name="date" class="form-control" />' +
                        '</div>' +
                        '<span class="span" id="'+(i+1)+'"></span>' +
                        '<button type="button" onclick="AddRay(this,' + (i + 1) + ')"> إضافة </button>' +
                        '<button type="button" onclick="DeleteRay(' + (i + 1) + ')"> حذف </button>' +
                        '</div>';
                }
                else {
                    valueToAdd = '<div id="div' + (i + 1) + '">' +
                        '<div class="form-group">' +
                        '<label for= "files" class= "control-label" ></label> ' +
                        '<input type="file" name="files" />' +
                        '</div >' +
                        '<div class="form-group">' +
                        '<label for="date" class="control-label"></label>' +
                        '<input type="date" name="date" class="form-control" />' +
                        '</div>' +
                        '<span class="span" id="'+(i+1)+'"></span>' +
                        '<button type="button" onclick="DeleteRay(' + (i + 1) + ')"> حذف </button>' +
                        '</div>';
                }
                div.insertAdjacentHTML('afterend', valueToAdd);
                RaysCount++;
            }
        }
        function DeleteRay(i) {
            var div = document.getElementById("div" + i);
            div.parentNode.removeChild(div);
            RaysCount--;
            var spans = document.getElementsByClassName('span');
            if (RaysCount == 1) {
                var span = document.getElementById('0');
                span.insertAdjacentHTML('afterend', '<button type="button" onclick="AddRay(this,0)"> إضافة </button>');
            }
            else {
                spans[spans.length - 1].insertAdjacentHTML('afterend', '<button type="button" onclick="AddRay(this,' + spans[spans.length - 1].id + ')"> إضافة </button>');
            }



        }
    </script>
}
