@model IEnumerable<SHM_Smart_Hospital_Management_.MedicalDetailsExtraTables.External_Records>

@{
    ViewData["Title"] = "ShowExternalRecordsForDoctor";
}

@section Styles{
    <link href="~/Medicio2/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" /><!-- bootstrap icons-->
    <link href="~/Medicio2/assets/css/bootstrap.min.css" rel="stylesheet"><!--bootstrap min -->
    <link href="~/Medicio2/Cards/Card.css" rel="stylesheet" /><!-- bootstrap icons-->
    <link href="~/Medicio2/Delete.css" rel="stylesheet" /><!-- bootstrap icons-->
}
<a asp-action="Create" asp-route-id="@ViewBag.MedicalDetailId" asp-route-PatId="@ViewBag.PatientId" style=" position: relative; left: 46%;text-decoration:none; color:gray">اضافة ملف خارجي</a>
<div class="container">
    <div class="row">
        @{ int i = 1;}
        @{ int j = 0;}
        @foreach (var item in Model)
        {
            string exampleModal = "exampleModal" + i;
            <div class="col-4">
                <div class="card ">
                    <a data-toggle="modal" data-target="#@exampleModal">
                        <img class="bd-placeholder-img card-img-top" src="~/External_Records_Details/@item.Details" />
                    </a>
                    <div class="card-body">
                        <p class="card-text">@item.Date</p>


                        @{
                            string confirm = "confirm" + j;
                            string cancel = "cancel" + j;
                            string delete = "delete" + j;
                        }
                        <a id="@cancel" class="btn Cancel_btn" onclick="Cancel(@j)">إلغاء</a>
                        <a class="btn Confirm_btn" asp-action="Delete" asp-route-id="@item.External_Records_Id" asp-route-medicalId="@ViewBag.MedicalDetailId" asp-route-PatId="@ViewBag.PatientId" id="@confirm">تأكيد</a>
                        <a id="@delete" class="btn delete_btn" onclick="Confirm(@j)" style="margin-right:15px ; width:90%">حذف</a>
                    </div>
                </div>
            </div>
            <!--Modal start-->
            <div class="modal fade " id="@exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true" dir="ltr">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body Center ">
                            <img class="bd-placeholder-img card-img-top" src="~/External_Records_Details/@item.Details" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn delete_btn " data-dismiss="modal">إغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
            i++;
            j++;
        }

    </div>
</div>
<a asp-controller="Medical_Detail" asp-action="ShowMedicalDetailsForPatient" asp-route-id="@ViewBag.PatientId" style="position: relative; left: 44%; text-decoration: none; color: gray;">رجوع للخلف</a>
@section Scripts{
    <script src="~/ConfirmDelete.js"></script>
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>
}