@model SHM_Smart_Hospital_Management_.Models.Employee
@{
    ViewData["Title"] = "IT";
}
@section Styles{
    <style>
        html{
            direction:rtl;
        }
    </style>
    <link href="~/Medicio2/dashborde/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css"><!-- fontawsome icons -->
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" /><!-- bootstrap icons -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"><!-- font -->
    <link href="~/Medicio2/assets/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap min -->
    <link href="~/Medicio2/dashborde/itdb/css/it.css" rel="stylesheet"><!-- style -->
}


<!-- sidebar start -->
<div class="sidebar">
    <div class="logo-details">
        <img src="~/Medicio2/assets/img/avatar/admin.jpg" class="it-img ">
        <span class="logo_name">تقاني</span>
    </div>
    <hr class="sidebar-divider">
    <div class="nav-links ">
        <div class="f_div">
            <label for="touch2">
                <span class="side_name"> <i class="bi bi-door-open"></i> عرض غرفة </span>
                <i class="bi bi-chevron-compact-down arrow "></i>
            </label>
            <input type="checkbox" id="touch2">
            <ul class="slide">
                <span>  عرض غرف</span>
                <li>
                    <a asp-controller="Room" asp-action="DisplayRooms" asp-route-id="@Model.Employee_Id" asp-route-HoId="@Model.Ho_Id">   غرف إقامة</a>
                </li>
                <li>
                    <a asp-controller="Surgery_Room" asp-action="DisplaySurgeryRooms" asp-route-id="@Model.Employee_Id" asp-route-HoId="@Model.Ho_Id">  غرف عمليات</a>
                </li>
            </ul>

        </div>
        <div class="s_div">
            <a asp-controller="Department" asp-action="HoDepartments" asp-route-id="@Model.Ho_Id">
                <span class="side_name"> <i class="bi bi-menu-button-wide-fill"></i> عرض أقسام</span>
            </a>
        </div>
        <div class="s_div">
            <a asp-controller="Doctor" asp-action="DeptManagers" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">

                <span class="side_name"><i class="bi bi-person"></i> عرض رؤساء الأقسام </span>
            </a>
        </div>
        <div class="s_div">
            <a href="#" data-toggle="modal" data-target="#BlockModal">
                <span class="side_name">   <i class="bi bi-person-x"></i> حظر مستخدم</span>
            </a>
        </div>
    </div>
    <hr class="sidebar-divider ">
</div>
<!-- sidebar end -->
<!-- start -->
<section class="home-section">

    <!-- Topbar start -->

    <div class="container navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow topbar-ps ">
        <div class="row">
            <ul class="navbar-nav ml-auto">
                <!-- it Info start -->
                <li class="nav-item dropdown no-arrow ">
                    <a class="nav-link dropdown-toggle do_div" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="top_div">
                            <span class="mr-2 d-lg-inline text-gray-600 small">تقاني</span>
                            <img class="img-profile rounded-circle" src="~/Medicio2/dashborde/img/undraw_profile.svg">
                        </div>
                    </a>

                    <!-- it Info Dropdown start -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in info-it"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-action="EditPersonalDetails" asp-route-id="@Model.Employee_Id">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;&nbsp;&nbsp;
                            المعلومات الشخصية
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;&nbsp;&nbsp;
                            تسجيل خروج
                        </a>
                    </div>
                    <!-- it Info Dropdown end -->
                </li>

                <!-- it Info end -->
            </ul>
        </div>
    </div>
    <!-- Logout Modal start-->
    <div class="modal fade " id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" dir="ltr">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-txt" id="exampleModalLabel">تسجيل خروج</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body "> هل أنت متأكد</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary close_btn" type="button" data-dismiss="modal">إلغاء</button>
                    <a class="btn btn-primary Logout-btn" asp-action="LogOut" asp-route-id="@Model.Employee_Id">تسجيل خروج</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal end-->
    <!-- Topbar end -->
    <!-- start page -->

    <div class="container ">
        <div class="row">

            <!-- room-add btn -->
            <button type="button" class="btn   modal-bt1 " data-toggle="modal" data-target="#exampleModal2">
                عرض غرفة
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" dir="ltr">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modal-txt" id="exampleModalLabel2">   عرض غرف</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body Center">
                            <a asp-controller="Room" asp-action="DisplayRooms" asp-route-id="@Model.Employee_Id" asp-route-HoId="@Model.Ho_Id">
                                <button type="button" class="btn btn-info  modal-bt4 ">
                                    غرف إقامة
                                </button>
                            </a>
                            <a asp-controller="Surgery_Room" asp-action="DisplaySurgeryRooms" asp-route-id="@Model.Employee_Id" asp-route-HoId="@Model.Ho_Id">
                                <button type="button" class="btn btn-info  modal-bt4">
                                    غرف عمليات
                                </button>
                            </a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary close_btn" data-dismiss="modal">إغلاق</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--dep btn -->
            <a asp-controller="Department" asp-action="HoDepartments" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id" class="btn   modal-bt1" style="display:flex;justify-content:center;align-items:center">
                <button type="button" style="background:transparent;color:white;outline:none;border:none">
                    عرض أقسام
                </button>
            </a>

            <!--show-emp btn -->
            <a asp-controller="Doctor" asp-action="DeptManagers" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id" class="btn   modal-bt1" style="display:flex;justify-content:center;align-items:center">
                <button type="button" style="background:transparent;color:white;outline:none;border:none">
                    عرض رؤساء الأقسام
                </button>
            </a>

            <!--user-block btn -->
            <button type="button" class="btn   modal-bt1" data-toggle="modal" data-target="#BlockModal">
                <a>حظر مستخدم</a>
            </button>
            <!-- block Modal start-->
            <div class="modal fade " id="BlockModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4"
                 aria-hidden="true" dir="ltr">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modal-txt" id="exampleModalLabel4"> إختر مستخدم</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <button type="button" class="btn btn-info  modal-bt5 " data-toggle="modal" data-target="#PaiBlockModal">
                                            مريض
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-info  modal-bt5" data-toggle="modal" data-target="#DocBlockModal">
                                            طبيب
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <button type="button" class="btn btn-info  modal-bt5" data-toggle="modal" data-target="#EmpBlockModal">
                                            موظف
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary close_btn" type="button" data-dismiss="modal">إلغاء</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- block Modal end-->
                <!-- pai_block_Modal -->
                <div class="modal fade" id="PaiBlockModal" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true" dir="ltr">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title modal-txt" id="exampleModalLabel5">  </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body Center">
                                <a asp-controller="Patient" asp-action="ShowActivePatientsForIT" asp-route-id="@Model.Employee_Id">
                                    <button type="button" class="btn btn-info  modal-bt4 ">
                                        حظر
                                    </button>
                                </a>
                                <a asp-controller="Patient" asp-action="ShowUnActivePatientsForIT" asp-route-id="@Model.Employee_Id">
                                    <button type="button" class="btn btn-info  modal-bt4">
                                        فك حظر
                                    </button>
                                </a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary close_btn" data-dismiss="modal">إغلاق</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- doc_block_Modal -->
                <div class="modal fade" id="DocBlockModal" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true" dir="ltr">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title modal-txt" id="exampleModalLabel6">  </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body Center">
                                <a asp-controller="Doctor" asp-action="ShowActiveDoctorsForIT" asp-route-id="@Model.Employee_Id">
                                    <button type="button" class="btn btn-info  modal-bt4 ">
                                        حظر
                                    </button>
                                </a>
                                <a asp-controller="Doctor" asp-action="ShowUnActiveDoctorsForIT" asp-route-id="@Model.Employee_Id">
                                    <button type="button" class="btn btn-info  modal-bt4">
                                        فك حظر
                                    </button>
                                </a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary close_btn" data-dismiss="modal">إغلاق</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- emp_block_Modal -->
                <div class="modal fade" id="EmpBlockModal" tabindex="-1" aria-labelledby="exampleModalLabel7" aria-hidden="true" dir="ltr">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title modal-txt" id="exampleModalLabel7">  </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body Center">
                                <a asp-controller="Employee" asp-action="ShowActiveEmployeesForIT" asp-route-id="@Model.Employee_Id">
                                    <button type="button" class="btn btn-info  modal-bt4 ">
                                        حظر
                                    </button>
                                </a>
                                <a asp-controller="Employee" asp-action="ShowUnActiveEmployeesForIT" asp-route-id="@Model.Employee_Id">
                                    <button type="button" class="btn btn-info  modal-bt4">
                                        فك حظر
                                    </button>
                                </a>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary close_btn" data-dismiss="modal">إغلاق</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end page -->
        <!-- footer start -->
        <footer>
            <div class="footer">
                <span class="fo_span center">حقوق الطباعة &copy; موقعنا 2022</span>
            </div>

        </footer>
        <!-- footer end -->
</section>

@section Scripts{
    <!-- end -->
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Medicio2/dashborde/js/sb-admin-2.js"></script>
}

