@model SHM_Smart_Hospital_Management_.Models.Employee

@section Styles{
    <style>
        html {
            direction: rtl;
        }
    </style>
    <link href="~/Medicio2/dashborde/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css" /><!--fontawsome icons-->
    <link href="~/Medicio2/dashborde/" rel="stylesheet" type="text/css" /><!--fontawsome icons-->
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" /><!--bootsrap icons-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" /><!--font-->
    <link href="~/Medicio2/assets/css/bootstrap.min.css" rel="stylesheet" /><!--bootstrap min-->
    <link href="~/Medicio2/Delete.css" rel="stylesheet" />
    <link href="~/Medicio2/dashborde/managerdb2/css/newmanager2.css" rel="stylesheet" /><!--style-->
}


<!--sidebar start-->
<div class="sidebar">
    <div class="logo-details">
        <img src="~/Medicio2/assets/img/avatar/mng.jpg " class="doctor-img" />
        <span class="logo_name"> مدير المشفى </span>
    </div>
    <hr class="sidebar-divider" />
    <div class="nav-links">
        <div class="s_div">
            <a href="#">
                <span class="side_name"><i class="bi bi-clipboard icon"></i>إستعراض التقارير</span>
            </a>
        </div>
        <div class="s_div">
            <a asp-action="HoEmployees" asp-route-id="@Model.Employee_Id">
                <span class="side_name"><i class="bi bi-people-fill icon"></i>إستعراض الموظفين</span>
            </a>
        </div>
    </div>
    <hr class="sidebar-divider" />
</div>
<!-- sidebar end-->
<!--start-->
<section class="home-section">
    <!-- Topbar start -->
    <div class=" container navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow topbar-ps ">
        <div class="row" style="position:relative; left: 140px">
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="top_div natif">
                            <i class="fas fa-bell fa-fw" style="margin-left:30px"></i>
                            <!-- Counter - Alerts -->
                        </div>
                    </a>
                    <!--Alerts Dropdown start -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in alert-doc "
                         aria-labelledby="alertsDropdown" id="notifications">
                        <h6 class="dropdown-header">
                            مركز التنبيهات
                        </h6>
                    </div>
                    <!--Alerts Dropdown end -->
                </li>
                <!--Alerts end -->


                <div class="topbar-divider d-none d-sm-block"></div>
                <li>

                    <!--imrg btn -->
                    <button class="btn btn-danger modal-btn-danger">
                        حالة طوارئ
                    </button>

                </li>
                <div class="topbar-divider  d-sm-block"></div>
                <!-- mng Info start -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle do_div" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="info-d">
                            <span class="mr-2 d-lg-inline text-gray-600 small">مدير المشفى</span>
                            <img class="img-profile rounded-circle" src="~/Medicio2/dashborde/img/undraw_profile.svg" />
                        </div>
                    </a>

                    <!-- mng info Dropdown start -->
                    <div class=" dropdown-menu dropdown-menu-right shadow animated--grow-in  info-doc " aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-action="EditMgrPersonalDetails" asp-route-id="@Model.Employee_Id">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            المعلومات الشخصية
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            تسجيل خروج
                        </a>
                    </div>
                    <!-- mng info Dropdown end -->
                </li>

                <!-- mng Info end -->
            </ul>
        </div>
    </div>
    <!-- Logout Modal start-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-txt" id="exampleModalLabel">
                        تسجيل خروج
                    </h5>
                    <button class="close close_x" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">هل أنت متأكد</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary close_btn" type="button" data-dismiss="modal">
                        إلغاء
                    </button>
                    <a asp-action="LogOut" asp-route-id="@Model.Employee_Id" class="btn btn-primary Logout-btn">تسجيل خروج</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal end-->
    <!-- topbar end -->
    <!-- page start -->
    <div class="container">
        <div class="row ">
            <div class="col-4 ">
                <!-- show-rep btn -->
                <button type="button" class="btn modal-bt1" style=" position: relative; right: 75px;">
                    إستعراض التقارير
                </button>
            </div>

            <!-- show-emp btn -->
            <div class="col-4 ">
                <a asp-action="HoEmployees" asp-route-id="@Model.Employee_Id">
                    <button type="button" class="btn modal-bt1" style=" position: relative; right: 75px;">
                        إستعراض الموظفين
                    </button>
                </a>
            </div>
        </div>
    </div>
    <!-- page end -->
    <table class="table" style="position: absolute; top: 50%; width: 97%; text-align:right;">
        <thead>
            <tr>
                <th>
                    وصف الطلب
                </th>
                <th>
                    تاريخ الطلب
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; }
            @foreach (var item in ViewBag.Requests as List<SHM_Smart_Hospital_Management_.Models.Request>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Request_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Request_Date)
                    </td>
                    <td>
                        <a asp-controller="Request" asp-action="AcceptRequest" asp-route-id="@item.Request_Id" asp-route-mgrId="@Model.Employee_Id">قبول</a> |
                        @{
                            string confirm = "confirm" + i;
                            string cancel = "cancel" + i;
                            string delete = "delete" + i;
                        }
                        <a id="@delete" class="btn delete_btn" onclick="Confirm(@i)">حذف</a>
                        <a id="@cancel" class="btn Cancel_btn" onclick="Cancel(@i)">إلغاء</a>
                        <a class="btn Confirm_btn" asp-controller="Request" asp-action="DenyRequest" asp-route-id="@item.Request_Id" asp-route-mgrId="@Model.Employee_Id" id="@confirm">تأكيد</a>
                        @{i++;}

                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>
<!-- end -->
@section Scripts{
    <script src="~/ConfirmDelete.js"></script>
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Medicio2/dashborde/js/sb-admin-2.js"></script>
    <script type="module" src="~/firebase/src/foreground_FCM.js"></script>

}
