@model SHM_Smart_Hospital_Management_.Models.Employee

@{
    ViewData["Title"] = "Resception";
}

@section Styles{
    <link href="~/Medicio2/dashborde/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css" /><!--fontawsome icons-->
    <link href="~/Medicio2/dashborde/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" /><!-- bootstrap icons-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" /><!--font-->
    <link href="~/Medicio2/dashborde/assets/css/bootstrap.min.css" rel="stylesheet" /><!--bootstrap min-->
    <link href="~/Medicio2/dashborde/resdb2/css/newres2.css" rel="stylesheet" /><!--style-->
    @* ************************************************ *@

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
          rel="stylesheet" />
    <!-- Geocoding api .css -->
    <link rel="stylesheet"
          href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
          type="text/css" />
}
@*<a asp-controller="Employee" asp-action="LogOut">Log Out</a>
    <h1>@TempData["PatientAdded"]</h1>
    <h1>@TempData["PreviewAdded"]</h1>

    <div id="map" style="width:500px;height:250px"></div>*@
<div style="width:1px;height:1px; overflow:scroll; visibility:hidden">
    @foreach (var item in ViewBag.PatientsXYs as List<string>)
    {
        <span class="XYs">@item</span>
    }
</div>

<div class="sidebar">
    <div class="logo-details">
        <img src="~/Medicio2/assets/img/avatar/res.png" class="doctor-img" />
        <span class="logo_name"> @Model.Employee_Full_Name</span>
    </div>
    <hr class="sidebar-divider" />
    <div class="nav-links">
        <div class=" f_div">
            <label class="lbl" for="touch2">
                <span class="side_name">
                    <i class="bi bi-door-closed icon"></i>
                    الغرف
                </span>
                <i class="bi bi-chevron-compact-down arrow"></i>
            </label>
            <input type="checkbox" id="touch2" />
            <ul class="slide">
                <span>الغرف</span>
                <li>
                    <a asp-controller="Patient" asp-action="HoPatientsForReservation" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">حجز غرفة</a>
                </li>
                <li>
                    <a asp-controller="Room" asp-action="BusyRooms" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id"> الغاء حجز غرفة</a>
                </li>
            </ul>
        </div>
        <div class="s_div">
            <a asp-controller="Patient" asp-action="Create" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                <span class="side_name"><i class="bi bi-person-plus icon"></i> تسجيل مريض</span>
            </a>
        </div>
        <div class="s_div">
            <a asp-controller="Doctor" asp-action="HoDoctors" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                <span class="side_name">
                    <i class="bi bi-collection icon"></i> عرض الأطباء
                </span>
            </a>
        </div>
        <div class="s_div">
            <a asp-controller="Patient" asp-action="HoPatientsForResception" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                <span class="side_name"><i class="bi bi-collection icon"></i> عرض المرضى</span>
            </a>
        </div>
        <div class="s_div">
            <a asp-controller="Patient" asp-action="HoPatientsForBill" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">

                <span class="side_name">  <i class="bi bi-receipt"></i> استعراض الفواتير</span>
            </a>

        </div>
    </div>
    <hr class="sidebar-divider" />
</div>
<!-- sidebar end -->
<!--start-->
<section class="home-section">
    <!-- Topbar start -->
    <div class="container navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow topbar-ps">
        <div class="row">
            <ul class="navbar-nav ml-auto">
                <!-- resp Info start -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle do_div" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="top_div">
                            <span class="mr-2 d-lg-inline text-gray-600 small">@Model.Employee_Full_Name</span>
                            <img src="~/Medicio2/dashborde/img/undraw_profile_3.svg" class="img-profile rounded-circle" />
                        </div>
                    </a>

                    <!--resp Info Dropdown start-->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in info-res" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>المعلومات الشخصية
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>تسجيل خروج
                        </a>
                    </div>
                    <!--resp Info Dropdown end-->
                </li>

                <!--resp Info end-->
            </ul>
        </div>
    </div>
    <!-- Logout Modal start-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="ltr">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-txt-out" id="exampleModalLabel">
                        تسجيل خروج
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span class="c-x-out" aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="txt_out modal-body">هل أنت متأكد</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary close_btn" type="button" data-dismiss="modal">
                        إلغاء
                    </button>
                    <a class="btn btn-primary Logout-btn"  asp-action="LogOut">تسجيل خروج</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Logout Modal end-->
    <!-- Topbar end -->
    <!-- page start -->
    <div class="container">
        <div class="row">

            <!-- <div class="col-10 mab_div">

    </div> -->
            <!-- room-resv btn-->
            <button type="button" class="btn modal-bt1" data-toggle="modal" data-target="#exampleModal3">
                الغرف
            </button>

            <!--  room-resv Modal start-->
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modal-txt" id="exampleModalLabel3">
                                الغرف
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="c-x" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body Center">
                            <a asp-controller="Room" asp-action="BusyRooms" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                                <button type="button" class="btn btn-info modal-bt4">
                                    إلغاء حجز غرفة
                                </button>
                                </a>
                                <a asp-controller="Patient" asp-action="HoPatientsForReservation" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                                    <button type="button" class="btn btn-info modal-bt4">
                                        حجز غرفة
                                    </button>
                                </a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary close_btn1" data-dismiss="modal">
                                إغلاق
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--  room-resv Modal end-->
            <!-- add-pai btn -->
            <a asp-controller="Patient" asp-action="Create" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                <button type="button" class="btn modal-bt1">تسجيل مريض</button>
            </a>

            <!-- show-doc btn -->
            <a asp-controller="Doctor" asp-action="HoDoctors" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                <button type="button" class="btn modal-bt3">عرض الأطباء</button>
            </a>
            <!-- show-pai btn -->
            <a asp-controller="Patient" asp-action="HoPatientsForResception" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                <button type="button" class="btn modal-bt3">عرض المرضى</button>
                </a>


                <!-- show-paibill btn -->
                <a asp-controller="Patient" asp-action="HoPatientsForBill" asp-route-id="@Model.Ho_Id" asp-route-EmpId="@Model.Employee_Id">
                    <button type="button" class="btn modal-bt2 ">
                        استعراض الفواتير
                    </button>
                </a>

        </div>
    </div>
    <!-- page end -->
    <!-- start footer -->
    <footer>
        <div class="footer">
            <span class="fo_span">حقوق الطباعة &copy; موقعنا 2022</span>
        </div>
    </footer>
    <!-- end footer -->
</section>
<!-- end  -->


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Medicio2/dashborde/js/sb-admin-2.js"></script>
    <!-- Page level plugins -->
    @* ******************************************************** *@

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <!-- Arabic Language Support -->
    <script src="~/Map/index.js"></script>
    <!-- Geocoding api .js -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <script>
        var XY = document.getElementById('XY');
        // public Token
        mapboxgl.accessToken =
            "pk.eyJ1IjoibWFobW9vZC1hcmFrc3VzeSIsImEiOiJjbDBvN3lhejExbXVzM2ltOW91MmZ1NXpjIn0.r69LwIlKBJZ2NT3RY5XJNQ";
        // Right to left text support
        mapboxgl.setRTLTextPlugin(
            "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.2.3/mapbox-gl-rtl-text.js",
            null,
            true // Lazy load the plugin
        );
        // map Definition
        const map = new mapboxgl.Map({
            container: "map", // container ID
            style: "mapbox://styles/mapbox/streets-v11", // style URL
            center: [37.98384, 34.9618], // starting position [lng, lat]
            zoom: 7, // starting zoom
        });
        // Geocoding
        map.addControl(
            new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                language: "ar",
                mapboxgl: mapboxgl,
            })
        );
        // Setting Language
        map.addControl(
            new MapboxLanguage({
                defaultLanguage: "ar",
            })
        );
        var XYs = document.getElementsByClassName('XYs');
        for (var i = 0; i < XYs.length; i++) {
            var arr = XYs[i].innerHTML.split(',');
            const ll = new mapboxgl.LngLat(arr[0], arr[1]);
            const popup = new mapboxgl.Popup({
                offset: 25,
                closeOnClick: false,
                closeButton: false,
            }).setText("😎😎");
            var marker = new mapboxgl.Marker()
                .setPopup(popup)
                .setLngLat(ll)
                .addTo(map)
                .togglePopup();
        }

    </script>

}