@model IEnumerable<SHM_Smart_Hospital_Management_.Models.Employee>

@{
    ViewData["Title"] = "ShowActiveEmployeesForIT";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
    <link href="~/Medicio2/Delete.css" rel="stylesheet" />
    <style>
        html {
            height: 100vh;
        }
    </style>
}
<div class="All_form" style=" direction: rtl; width: 92%; position: relative; right: 22%; background-color: white">
    <form asp-action="ShowActiveEmployeesForIT" asp-route-id="@ViewBag.EmpId" method="get">
        <div class="container">
            <div class="row" style="width: 200%; position: relative; left: 40%;">
                <p>
                    <div class="All_div col-12">
                        <input type="text" name="search" style="width:70%;" />
                        <input type="submit" value="بحث" />
                    </div>
                </p>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employee_Full_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee_Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee_Age)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee_Full_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee_Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee_Age)
                    </td>
                    <td>
                        @{
                            string confirm = "confirm" + i;
                            string cancel = "cancel" + i;
                            string delete = "delete" + i;
                        }
                        <a id="@cancel" class="btn Cancel_btn" onclick="Cancel(@i)">إلغاء</a>
                        <a class="btn Confirm_btn" asp-action="DeActivate" asp-route-id="@item.Employee_Id" asp-route-EmpId="@ViewBag.EmpId" id="@confirm">تأكيد</a>
                        <a id="@delete" class="btn delete_btn" onclick="Confirm(@i)" style="margin-right:15px">حظر</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
<a asp-action="Master" asp-route-id="@ViewBag.EmpId" style="position: relative; left: 44%;">رجوع للصفحة الرئيسية</a>

@section Scripts{


    <script src="~/ConfirmDelete.js"></script>
}