@model SHM_Smart_Hospital_Management_.Models.Doctor

@{
    ViewData["Title"] = "EditPersonalDetails";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/Edit.css" rel="stylesheet" />
    <style>
        html {
            height: 100vh;
        }
        input,select {
            text-align: center
        }
    </style>
}


<form asp-action="EditPersonalDetails" class="All_form" method="post" style="--white:white;" id="form" onsubmit="event.preventDefault(); ValidateEdit();">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Doctor_Id" />
                <input type="hidden" asp-for="Doctor_First_Name" />
                <input type="hidden" asp-for="Doctor_Middle_Name" />
                <input type="hidden" asp-for="Doctor_Last_Name" />
                <input type="hidden" asp-for="Doctor_Email" />
                <input type="hidden" asp-for="Doctor_Password" />
                <input type="hidden" asp-for="Doctor_National_Number" />
                <input type="hidden" asp-for="Doctor_Gender" />
                <input type="hidden" asp-for="Doctor_Birth_Date" />
                <input type="hidden" asp-for="Doctor_Birth_Place" />
                <input type="hidden" asp-for="Active" />
                <input type="hidden" asp-for="Department_Id" />
                <div class="form-group" style="margin:20px 0px;">
                    <label asp-for="Doctor_Social_Status"></label>
                    <select asp-for="Doctor_Social_Status">
                        @if (Model.Doctor_Social_Status == "عازب/ة")
                        {
                            <option value="عازب/ة" selected>عازب/ة</option>
                            <option value="متزوج/ة">متزوج/ة</option>

                        }
                        else if (Model.Doctor_Social_Status == "متزوج/ة")
                        {
                            <option value="عازب/ة">عازب/ة</option>
                            <option value="متزوج/ة" selected>متزوج/ة</option>
                        }
                    </select>
                </div>
                <div class="form-group" style="margin:20px 0px">
                    <label>السكن</label>
                    <select id="City" asp-items="@ViewBag.Cities">
                    </select>
                </div>
                <div class="form-group" style="margin:20px 0px">
                    <label asp-for="Area_Id"></label>
                    <select id="Area" asp-for="Area_Id" asp-items="@ViewBag.Areas">
                        <option value="@Model.Area_Id" selected>@ViewBag.DoctorArea</option>
                    </select><br />
                    <span id="areaValidateSpan" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin:20px 0px">
                    <label asp-for="Doctor_Family_Members"></label>
                    <input type="number" asp-for="Doctor_Family_Members" min="0" max="25" />
                    <span asp-validation-for="Doctor_Family_Members" class="text-danger"></span>
                </div>
                <span id="PNCount" style="display:none;">@Model.Doctor_Phone_Numbers.Count</span>
                <table style="margin:20px 0px">
                    @{int i = 0; }
                    @foreach (var item in Model.Doctor_Phone_Numbers)
                    {
                        string span = "span" + i;
                        string tr = "tr" + i;
                        string phoneValidateSpan = "phoneValidateSpan" + i;

                        <tr id="@tr" style=" display: flex; flex-direction: column; padding: 10px; margin: 10px; border-width: 1px; border-color: lightgray; border-radius: 20px; position: relative; left: 2%;">
                            @if (i == 0 && Model.Doctor_Phone_Numbers.Count == 1)
                            {

                                <td>
                                    <div class="All_div col-12" style="width:500px">
                                        <input class="ValidateNumber" type="text" name="pn" min="10" maxlength="10" placeholder="أدخل رقم هاتفك" value="@item.Doctor_Phone_Number" required />
                                        <br /> <span id="@phoneValidateSpan" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="col-12">
                                        <span id="@span"></span>
                                        <input type="button" onclick="Add(this)" value="إضافة رقم موبايل" style="margin: 10px 0px; width: 150px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;" />
                                    </div>
                                </td>
                            }
                            else if (i + 1 == Model.Doctor_Phone_Numbers.Count)
                            {
                                <td>
                                    <div class="col-12 All_div">
                                        <input class="ValidateNumber" type="text" name="pn" min="10" maxlength="10" placeholder="أدخل رقم هاتفك" value="@item.Doctor_Phone_Number" required />
                                        <br /><span id="@phoneValidateSpan" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <input type="button" onclick="Delete()" value="حذف" style="margin: 10px 0px; width: 150px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;" />
                                </td>
                                <td>
                                    <div class="col-12">
                                        <span id="@span"></span>
                                        <input type="button" onclick="Add(this)" value="إضافة رقم موبايل" style="margin: 10px 0px; width: 150px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;" />
                                    </div>
                                </td>
                            }
                            else
                            {
                                if (i == 0)
                                {
                                    <td>
                                        <div class="col-12 All_div">
                                            <input class="ValidateNumber" type="text" name="pn" min="10" maxlength="10" placeholder="أدخل رقم هاتفك" value="@item.Doctor_Phone_Number" required />
                                            <br /> <span id="@phoneValidateSpan" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <div class="col-12">
                                            <span id="@span"></span>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="col-12 All_div">
                                            <input class="ValidateNumber" type="text" name="pn" placeholder="أدخل رقم هاتفك" value="@item.Doctor_Phone_Number" required />
                                            <span id="@phoneValidateSpan" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="button" onclick="Delete()" value="حذف" style="margin: 10px 0px; width: 150px; height: 35px; border-radius: 16px; border: none; background-color: #bac8d5e0; color: #5e5c5c; font-weight: 600;" />
                                    </td>
                                    <td>
                                        <div class="col-12">
                                            <span id="@span"></span>
                                        </div>
                                    </td>
                                }
                            }

                        </tr>
                        i++;
                    }

                </table>
                <div class="form-group">
                    <input type="submit" value="حفظ" style="width: 120px;" />
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Master" asp-route-id="@Model.Doctor_Id" style=" position: relative; left: 45.5%;">رجوع للصفحة الرئيسية</a>
</div>

@section Scripts {

    <script>
        function ValidateEdit() {
            var numberInput = document.getElementsByClassName('ValidateNumber');
            var area = document.getElementById('Area');
            var bool = true;
            for (var i = 0; i < numberInput.length; i++) {


                if (numberInput[i].value == '') {
                    document.getElementById('phoneValidateSpan' + i).innerHTML = 'الرجاء إدخال رقم';
                    bool = false;
                }
                else if (isNaN(numberInput[i].value) || numberInput[i].value.length < 10) {
                    document.getElementById('phoneValidateSpan' + i).innerHTML = 'الرجاء إدخال رقم صالح';
                    bool = false;
                }
                else {
                    document.getElementById('phoneValidateSpan' + i).innerHTML = "";
                }
            }
            if (area.value == 0 || area.value == 'اختر المنطقة') {
                document.getElementById('areaValidateSpan').innerHTML = 'الرجاء اختيار منطقة';
                bool = false;
            }
            else {
                document.getElementById('areaValidateSpan').innerHTML = '';
            }
            if (bool == true) {
                var form = document.getElementById('form');
                form.submit()
            }
        }

    </script>>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/EditPhoneNumbersDoctor.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {

        $("#City").change(function () {
            var selectedCity = $("#City").val();
            var AreasSelect = $("#Area");
            AreasSelect.empty();
            if (selectedCity != null && selectedCity != "") {
                $.getJSON('@Url.Action("GetAreas")', { CityId: selectedCity }, function (Areas) {
                    if (Areas != null && !jQuery.isEmptyObject(Areas)) {
                        AreasSelect.append($('<option/>', { value: null, text: "اختر المنطقة" }));

                        $.each(Areas, function (index, area) {
                           AreasSelect.append($('<option/>', { value: area.value, text: area.text }));
                        });
                    };
                });

            }
        });
    });
    </script>

}
