@model List<SHM_Smart_Hospital_Management_.ViewModels.HoDoctors>




@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
    <style>
        html {
            height: 100vh;
        }
    </style>
}
<div class="All_form" style="direction:rtl;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    الاسم الكامل للدكتور
                </th>
                <th>
                    أرقام الهاتف
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoctorFullName)
                    </td>
                    <td>
                        @foreach (var item1 in item.PhoneNumbers)
                        {
                            <span> @item1</span> <br />
                        }
                    </td>

                    <td>
                        <a asp-action="PickDate" asp-route-id="@ViewBag.DeptId" asp-route-PatientId="@ViewBag.PatientId" asp-route-EmpId="@ViewBag.EmpId" asp-route-DocId="@item.DoctorId">إختيار</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="Preview" asp-action="CreateForResception" asp-route-id="@ViewBag.PatientId" asp-route-EmpId="@ViewBag.EmpId" style=" position: relative; left: 48%;">Back to List</a>

@section Scripts{
    <script src="~/Medicio2/dashborde/vendor/jquery/jquery.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Medicio2/dashborde/vendor/jquery-easing/jquery.easing.min.js"></script>
}
