@model IEnumerable<SHM_Smart_Hospital_Management_.ViewModels.CancelPreview>

@{
    ViewData["Title"] = "DisplayPatientsPreviews";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
    <style>
        html {
            height: 100vh;
        }
    </style>
}
<div class="All_form" style="direction: rtl; background-color: white">

    <table class="table">
        <thead>
            <tr>
                <th>
                    تاريخ الموعد
                </th>
                <th>
                    وقت الموعد
                </th>
                <th>
                    اسم الدكتور
                </th>
                <th>
                    اختصاص
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PreviewDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviewHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speclization)
                </td>
                <td>
                    @if (item.IsToday)
                    {
                        <a asp-action="CancelPreview" asp-route-id="@item.PreviewId" asp-route-PatId="@ViewBag.PatientId">إلغاء الموعد</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="Patient" asp-action="Master" asp-route-id="@ViewBag.PatientId" style=" position: relative; left: 45.5%;">رجوع للصفحة الرئيسية</a>
