@model IEnumerable<SHM_Smart_Hospital_Management_.Models.Request>

@{
    ViewData["Title"] = "ShowRequestsForHeadNurse";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
    <link href="~/Medicio2/Delete.css" rel="stylesheet" />

    <style>
        html {
            height: 100vh;
        }
    </style>
}
<div class="All_form" style=" direction: rtl; width: 92%; position: relative; right: 22%; background-color: white">
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Request_Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Request_Date)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; }
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Request_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Request_Date)
                    </td>

                    <td>

                        @{
                            string confirm1 = "confirm1" + i;
                            string cancel1 = "cancel1" + i;
                            string delete1 = "delete1" + i;
                        }
                        <a id="@cancel1" class="btn Cancel_btn" onclick="Cancel1(@i)">إلغاء</a>
                        <a class="btn Confirm_btn" asp-action="AcceptPatientRequest" asp-route-id="@item.Request_Id" id="@confirm1">تأكيد</a>
                        <a id="@delete1" class="btn delete_btn" onclick="Confirm1(@i)">قبول</a>
                        @{
                            string confirm = "confirm" + i;
                            string cancel = "cancel" + i;
                            string delete = "delete" + i;
                        }
                        <a id="@cancel" class="btn Cancel_btn" onclick="Cancel(@i)">إلغاء</a>
                        <a class="btn Confirm_btn" asp-action="DenyPatientRequest" asp-route-id="@item.Request_Id" id="@confirm">تأكيد</a>
                        <a id="@delete" class="btn delete_btn" onclick="Confirm(@i)">حذف</a>

                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
<a asp-controller="Employee" asp-action="Master" asp-route-id="@ViewBag.EmpId" style=" position: relative; left: 46%;">رجوع للخلف</a>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>

        function Confirm1(i) {
            console.log(i);
            var confirm = document.getElementById('confirm1' + i);
            var cancel = document.getElementById('cancel1' + i);
            var btn = document.getElementById('delete1' + i);
            console.log(confirm);
            console.log(cancel);
            console.log(btn);
            btn.style.display = "none";
            confirm.style.display = "block";
            cancel.style.display = "block";

        }
        function Cancel1(i) {
            console.log(i);
            var confirm = document.getElementById('confirm1' + i);
            var cancel = document.getElementById('cancel1' + i);
            var btn = document.getElementById('delete1' + i);

            btn.style.display = "block";
            confirm.style.display = "none";
            cancel.style.display = "none";

        }
    </script>
    <script src="~/ConfirmDelete.js"></script>
}
