@model IEnumerable<SHM_Smart_Hospital_Management_.Models.Request>

@{
    ViewData["Title"] = "ShowRequestsForHeadNurse";
}
@section Styles{
    <link href="~/Medicio2/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Medicio2/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Medicio2/create.css" rel="stylesheet" />
    <link href="~/Medicio2/Delete.css" rel="stylesheet" />

    <style>
        html {
            height: 100vh;
        }
    </style>
}
<div class="All_form" style=" direction: rtl; width: 92%; position: relative; right: 22%; background-color: white">
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Request_Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Request_Date)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; }
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Request_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Request_Date)
                    </td>

                    <td>
                        <a asp-action="AcceptPatientRequest" asp-route-id="@item.Request_Id">Confirm</a> |
                        @{
                            string confirm = "confirm" + i;
                            string cancel = "cancel" + i;
                            string delete = "delete" + i;
                        }
                        <a id="@delete" class="btn delete_btn" onclick="Confirm(@i)">حذف</a>
                        <a id="@cancel" class="btn Cancel_btn" onclick="Cancel(@i)">إلغاء</a>
                        <a class="btn Confirm_btn" asp-action="DenyPatientRequest" asp-route-id="@item.Request_Id" id="@confirm">تأكيد</a>
                        @{i++;}
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script src="~/ConfirmDelete.js"></script>
    }
